################################################################################
#                                      R                                       #
################################################################################

# R Studio Project directory and files
^.*\.Rproj$
^\.Rproj\.user$
^.*\.Rhistory$
^.*\.Rprofile$
^.*\.Rbuildignore$

################################################################################
#                               Jupyter Notebook                               #
################################################################################

.ipynb_checkpoints
*/.ipynb_checkpoints/*


########################################
#                macOS                 #
########################################

# General
.DS_Store